:root{
    background-color: #ecf5ff;
    font-size: 65%;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    color: #333;
    box-sizing: border-box;
    
}

.container{
    display: flex;
    width: 40%;
    position: relative;
    top :100px;
    text-align: center;
    margin: 0 auto;
}
.flex-center{
    justify-content: center;
}
.flex-colum{
    flex-direction: column;
}
.text-center{
    text-align: center;
}
a{
    all: unset;
}
.btn,li{
    border:2px solid #56a5eb;

    box-sizing: border-box;
    width: 30vw;
    margin: 0  auto;
    padding: 3px;
    margin-top: 8px;
    color: #56a5eb;
    text-decoration: none;
    list-style: none;
}
.btn,li:hover{
    box-shadow: 2px 4px 10px #56a5eb;
    transform: scale(103%);
    cursor: pointer;
    transition: 0.3s;
}
.btn[disabled]:hover{
    cursor :not-allowed
}
h1{

    font-size: 30px;
    color: #56a5eb;
}

li{
    margin-left: -23px;
    border-radius: 20px;
    font-size: large;
    border: 0.5px solid gold;
    color: aqua;
}

